<div class="row">
  <div class="col-sm-6" *ngFor="let item of buses | async">
    <div class="panel panel-default" (click)="busSelected(item)">
      <div class="panel-heading">
        <h3 class="panel-title">{{item.from}} to {{item.to}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <span>
                    Expected to reach by <strong>{{item.expectedTimeOfArrival | date: 'HH:mm'}}</strong>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="item.delay > 0" style="color:red">
          Delayed by {{item.delay}} minutes. Originally scheduled reach {{item.to}} by {{item.scheduledTimeOfArrival}}. Reason: {{item.delayReason}}
        </div>
      </div>
    </div>
  </div>
</div>