<h1>Edit Bus</h1>
<div class="col-md-12">
	<h3>Bus {{bus.busId}} from {{bus.from}} to {{bus.to}}</h3>
	<form (ngSubmit)="submit()">
		<div class="control-group">
			<label for="lastSpottedAt" style="width: 101px;">Last Spotted At</label>
			<input name="lastSpottedAt" type="text" [(ngModel)]="bus.lastSpottedAt" />
		</div>
		<div class="control-group">
			<label for="lastSpottedTime" style="width: 101px;">Last Spotted Time</label>
			<input name="lastSpottedTime" type="text" [(ngModel)]="bus.lastSpottedTime" />
		</div>
		<div class="control-group">
			<label for="kmsToGo" style="width: 101px;">KMs to go</label>
			<input name="kmsToGo" type="text" [(ngModel)]="bus.kmsToGo" />
		</div>
		<div class="control-group">
			<input type="reset" value="Reset" class="btn" />
			<input type="submit" value="Done Editing!" class="btn btn-primary" />
		</div>
	</form>
</div>